<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>step03_review</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginView</servlet-name>
    <servlet-class>step01.LoginView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginView</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Boss</display-name>
    <servlet-name>Boss</servlet-name>
    <servlet-class>step01.Boss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Boss</servlet-name>
    <url-pattern>/boss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>step01.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fail</servlet-name>
    <servlet-class>step01.Fail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fail</servlet-name>
    <url-pattern>/fail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>step01.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
</web-app>